h1 { 
    color :rgb(0, 0, 0);

}

* {
    background-color: yellow;
    font-family:Helvetica, Verdana, sans-serif;
    box-sizing:border-box;

}

header,
form,
p,
h1,
h2 {
    text-align: center;
}

.pic {
    text-align: center;
}


li {
    color: red;
    margin: 20px
}

li,
p {
    font-size: 22px;
}

div.container {
    text-align: center;
}

.midlist {
    display: inline-block;
  text-align: left;
}

.homelist {
    display: inline-flex;
    
}

homelist p {
    color:black;
}

.homebutton {
    height: 40px;
    width: 60px;
    text-align:center;
    background-color: blue;
    color: white;
    border-color:white;
}

.homeimage {
    height: 214px;
    width:auto;
}
