h1 { 
    color :rgb(0, 0, 0);

}

* {
    background-color: #4caf50;
    font-family:Helvetica, Verdana, sans-serif;
    box-sizing:border-box;

}

header,
form,
p,
h1,
h2 {
    text-align: center;
}

.maintitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    font-size: xx-large;
    border-style: double;
    border-width: 5px;
    border-color: whitesmoke;
    color:whitesmoke;
    background-color: black;
}

.pic {
    text-align: center;
}


li {
    color: red;
    margin: 20px
}

li,
p {
    font-size: 22px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.midlist {
    display: inline-block;
  text-align: left;
}

.homelist {

    
}

.homelist p {
    color:black;
}

.homelist li {
    list-style-type: none;
}

.homebutton {
    height: 40px;
    width: 60px;
    text-align:center;
    background-color: blue;
    color: white;
    border-color:white;
}

.homeimage {
    height: auto;
    width:382.14px;
}
